<template>
    <Page>
        <ActionBar title="Home"/>
        <RadSideDrawer ref="drawer">
            <StackLayout ~drawerContent backgroundColor="gray">
                <StackLayout height="56"
                             style="text-align: center; vertical-align: center;">
                    <Label text="Navigation Menu"/>
                </StackLayout>
                <StackLayout>
                    <Label text="Social" padding="10"/>
                </StackLayout>

            </StackLayout>
            <ScrollView orientation="vertical" ~mainContent>

                <ListView for="article in articles" @loadMoreItems="loadMore">
                    <v-template>
                            <ArticleTeaser :article="article"/>
                    </v-template>
                </ListView>
            </ScrollView>
        </RadSideDrawer>

    </Page>
</template>

<script>
import ArticleTeaser from './ArticleTeaser.vue';
import Axios from 'axios';

export default {
  methods: {
    onOpenDrawerTap() {
      this.$refs.drawer.nativeView.showDrawer();
    },
    onCloseDrawerTap() {
      this.$refs.drawer.nativeView.closeDrawer();
    },
    loadMore() {
      if(!this.loading && this.page <= this.lastPage){
        this.loading = true;
        Axios.get('/articles', { params: { page: this.page }}).then(({ data }) => {
          this.articles = [...this.articles, ...data.data];
          this.lastPage = data.meta.last_page;
          if(this.lastPage >= this.page){
            this.page++
          }
        }).finally(()=>{
            this.loading = false;
        });
      }
    },
  },
  components: {
    ArticleTeaser,
  },
  data() {
    return {
      articles: [],
      page: 1,
      lastPage: 1,
      loading: false,
    };
  },
  mounted() {
    this.loadMore()
  },
};
</script>
<style scoped>
    ActionBar {
        color: #ffffff;
    }

    .title {
        text-align: left;
        padding-left: 16;
    }

    .message {
        vertical-align: center;
        text-align: center;
        font-size: 20;
        color: #333333;
    }

    .drawer-header {
        padding: 50 16 16 16;
        margin-bottom: 16;
        background-color: #53ba82;
        color: #ffffff;
        font-size: 24;
    }

    .drawer-item {
        padding: 8 16;
        color: #333333;
        font-size: 16;
    }

    .article-list {
        padding: 30px;
    }
</style>
