<template>
    <Page>
        <FlexboxLayout flexDirection="column" v-if="article">
            <Label class="title" :text="article.title"/>
            <Image class="article__thumbnail" v-if="article.thumbnail" :src="article.thumbnail.path"/>
            <Label :text="article.content" textWrap="true"></Label>
        </FlexboxLayout>
    </Page>
</template>
<script>
import Axios from 'axios';

export default {
  data() {
    return {
      article: Object,
    };
  },
  props: {
    id: {
      type: Number,
      default: 0,
    },
  },
  mounted() {
    Axios.get(`/articles/${this.id}`).then(({ data }) => {
      this.article = data.data;
    });
  },
};
</script>
<style>
    .title {
        font-size: 30px;
    }
    .article__thumbnail {
        height: 1000px;
        width: 1000px;
    }
</style>
