<template>
    <StackLayout class="article-teaser__outer">
        <FlexboxLayout flexDirection="column"  class="article-teaser" @tap="seeArticle">
            <Image class="article-teaser__thumbnail" v-if="article.thumbnail" :src="article.thumbnail.path"/>
            <Label :text="article.title"/>
        </FlexboxLayout>
    </StackLayout>
</template>
<script>
import Article from './Article.vue';
export default {
  props: {
    article: {
      type: Object,
      default: {},
    },
  },
  methods: {
    seeArticle() {
      this.$navigateTo(Article,  { props: { id: this.article.id }})
    },
  },
}
</script>
<style>
    .article-teaser{
        border-radius: 5px;
        padding: 40px 20px;
        background-color: rgba(125,125,125, .3);
    }
    .article-teaser__thumbnail {
      height: 500px;
      width: 500px;
    }
    .article-teaser__outer {
        padding: 15px 0;
    }
</style>
